In [4]:
import pandas as pd

## make sure you need to  move the test2020Q3.csv in to running folder to run this if not need to change the path 

kamyr = pd.read_csv("test2020Q3.csv", header = 0)

kamyr

,ID,Attrib01,Attrib02,Attrib03,Attrib04,Attrib05,Attrib06,Attrib07,Attrib08,Attrib09,Attrib10,Attrib11,Attrib12,Attrib13,Attrib14
0,52,NaN,27.0,10.0,3000.0,143.7180,0.003515,0.000220,NaN,0.000110,0.000392,NaN,32.6677,40.8673,4.7508
1,55,NaN,23.0,10.0,5000.0,129.2322,0.003304,0.000259,4.0,0.000294,0.000432,0.004307,32.9194,42.3454,4.8434
2,56,4.0,30.0,10.0,200.0,69.9612,0.001101,0.000336,4.0,0.000294,0.000461,0.002926,44.6475,75.3548,4.0430
3,57,3.0,19.0,20.0,400.0,107.6016,0.001034,0.000213,1.0,0.000053,0.000543,0.003783,29.2203,53.7352,4.9155
4,58,3.0,32.0,10.0,500.0,122.8908,0.001136,0.000327,2.0,NaN,0.001329,0.002368,22.6885,62.0813,9.3740
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3390,10089,NaN,NaN,NaN,NaN,259.6296,NaN,0.000743,NaN,0.000621,0.000146,0.004555,18.6059,42.8342,6.2754
3391,10090,NaN,NaN,NaN,NaN,314.6700,NaN,0.001157,NaN,0.000246,0.001083,0.004259,14.3023,36.1156,7.1965
3392,10092,NaN,NaN,NaN,NaN,299.4282,NaN,0.000860,NaN,0.000338,0.000169,0.004439,12.4028,39.5156,6.3979
3393,10094,NaN,NaN,NaN,NaN,375.8664,NaN,0.000594,NaN,0.000204,0.000780,0.004346,11.6910,34.8547,7.9615
3394,10095,NaN,NaN,NaN,NaN,348.3576,NaN,0.000811,NaN,0.000224,0.001315,NaN,20.0537,33.5142,6.3719

In [5]:
kamyr.shape

(3395, 15)

In [6]:
kamyr.head(10)

,ID,Attrib01,Attrib02,Attrib03,Attrib04,Attrib05,Attrib06,Attrib07,Attrib08,Attrib09,Attrib10,Attrib11,Attrib12,Attrib13,Attrib14
0,52,NaN,27.0,10.0,3000.0,143.7180,0.003515,0.000220,NaN,0.000110,0.000392,NaN,32.6677,40.8673,4.7508
1,55,NaN,23.0,10.0,5000.0,129.2322,0.003304,0.000259,4.0,0.000294,0.000432,0.004307,32.9194,42.3454,4.8434
2,56,4.0,30.0,10.0,200.0,69.9612,0.001101,0.000336,4.0,0.000294,0.000461,0.002926,44.6475,75.3548,4.0430
3,57,3.0,19.0,20.0,400.0,107.6016,0.001034,0.000213,1.0,0.000053,0.000543,0.003783,29.2203,53.7352,4.9155
4,58,3.0,32.0,10.0,500.0,122.8908,0.001136,0.000327,2.0,NaN,0.001329,0.002368,22.6885,62.0813,9.3740
5,60,2.0,27.0,6.0,70.0,44.4570,0.000978,0.000255,2.0,NaN,0.000000,0.002425,76.4405,NaN,3.0965
6,61,1.0,21.0,8.0,240.0,46.9962,0.000820,0.000169,NaN,NaN,0.000045,0.001988,94.0227,90.5311,4.1017
7,72,NaN,17.0,NaN,10000.0,212.6022,NaN,0.000676,NaN,0.001164,0.001253,NaN,24.6117,41.7671,6.6104
8,77,4.0,20.0,14.0,2708.0,117.4884,0.002944,0.000527,2.0,0.000019,0.000414,NaN,52.0140,46.4321,3.3746
9,81,4.0,18.0,24.0,800.0,155.9856,0.005054,0.000524,NaN,0.000025,0.000399,0.003569,24.4632,52.1538,6.5664

In [7]:
kamyr.dtypes

ID            int64
Attrib01    float64
Attrib02    float64
Attrib03    float64
Attrib04    float64
Attrib05    float64
Attrib06    float64
Attrib07    float64
Attrib08    float64
Attrib09    float64
Attrib10    float64
Attrib11    float64
Attrib12    float64
Attrib13    float64
Attrib14    float64
dtype: object

In [8]:
kamyr.isnull().sum() # checks each row of each column. If isnull is true, it puts a 1 down. sum adds up all the 1s by column

ID             0
Attrib01    1695
Attrib02      55
Attrib03     729
Attrib04      57
Attrib05       0
Attrib06     747
Attrib07       0
Attrib08    1706
Attrib09     365
Attrib10       0
Attrib11     349
Attrib12       0
Attrib13     174
Attrib14       0
dtype: int64

In [9]:
#remove the colume which is more then 40% (1357/3395)
kamyr =kamyr.drop(columns = ['Attrib01','Attrib08']) # remove 40% move missig value colums

kamyr

,ID,Attrib02,Attrib03,Attrib04,Attrib05,Attrib06,Attrib07,Attrib09,Attrib10,Attrib11,Attrib12,Attrib13,Attrib14
0,52,27.0,10.0,3000.0,143.7180,0.003515,0.000220,0.000110,0.000392,NaN,32.6677,40.8673,4.7508
1,55,23.0,10.0,5000.0,129.2322,0.003304,0.000259,0.000294,0.000432,0.004307,32.9194,42.3454,4.8434
2,56,30.0,10.0,200.0,69.9612,0.001101,0.000336,0.000294,0.000461,0.002926,44.6475,75.3548,4.0430
3,57,19.0,20.0,400.0,107.6016,0.001034,0.000213,0.000053,0.000543,0.003783,29.2203,53.7352,4.9155
4,58,32.0,10.0,500.0,122.8908,0.001136,0.000327,NaN,0.001329,0.002368,22.6885,62.0813,9.3740
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3390,10089,NaN,NaN,NaN,259.6296,NaN,0.000743,0.000621,0.000146,0.004555,18.6059,42.8342,6.2754
3391,10090,NaN,NaN,NaN,314.6700,NaN,0.001157,0.000246,0.001083,0.004259,14.3023,36.1156,7.1965
3392,10092,NaN,NaN,NaN,299.4282,NaN,0.000860,0.000338,0.000169,0.004439,12.4028,39.5156,6.3979
3393,10094,NaN,NaN,NaN,375.8664,NaN,0.000594,0.000204,0.000780,0.004346,11.6910,34.8547,7.9615
3394,10095,NaN,NaN,NaN,348.3576,NaN,0.000811,0.000224,0.001315,NaN,20.0537,33.5142,6.3719

In [10]:
kamyr.isnull().sum()

ID            0
Attrib02     55
Attrib03    729
Attrib04     57
Attrib05      0
Attrib06    747
Attrib07      0
Attrib09    365
Attrib10      0
Attrib11    349
Attrib12      0
Attrib13    174
Attrib14      0
dtype: int64

In [12]:
kamyr.describe(include = 'all')

,ID,Attrib02,Attrib03,Attrib04,Attrib05,Attrib06,Attrib07,Attrib09,Attrib10,Attrib11,Attrib12,Attrib13,Attrib14
count,3395.000000,3340.000000,2666.000000,3338.000000,3395.000000,2648.000000,3395.000000,3030.000000,3395.000000,3046.000000,3395.000000,3221.000000,3395.000000
mean,4805.012371,21.647904,11.382596,960.421809,117.046947,0.002167,0.000374,0.000110,0.000387,0.003241,40.361562,61.013226,5.272988
std,2719.944851,4.206341,5.724499,17318.133922,51.945291,0.001427,0.000225,0.000172,0.000377,0.000762,17.153570,15.177949,1.494835
min,52.000000,16.000000,0.000000,3.000000,22.059600,0.000000,0.000000,0.000000,0.000000,0.000679,6.666700,24.093600,2.038900
25%,2464.500000,19.000000,8.000000,300.000000,79.900200,0.001032,0.000204,0.000014,0.000140,0.002692,28.957750,49.761600,4.272850
50%,4874.000000,21.000000,10.000000,500.000000,108.010200,0.001925,0.000353,0.000051,0.000281,0.003278,36.723500,59.725900,5.095500
75%,7108.500000,24.000000,16.000000,800.000000,142.790400,0.003110,0.000499,0.000137,0.000514,0.003790,48.290500,71.142900,6.033600
max,10095.000000,44.000000,24.000000,1000000.000000,389.831400,0.005667,0.001752,0.003019,0.004041,0.004729,237.142900,97.391300,18.558100

In [13]:
#replace with mean for if the it haveing more than 15% (509/3395)

kamyr['Attrib03'] = kamyr['Attrib03'].fillna(kamyr['Attrib03'].mean())
kamyr['Attrib06'] = kamyr['Attrib06'].fillna(kamyr['Attrib06'].mean())
kamyr

,ID,Attrib02,Attrib03,Attrib04,Attrib05,Attrib06,Attrib07,Attrib09,Attrib10,Attrib11,Attrib12,Attrib13,Attrib14
0,52,27.0,10.000000,3000.0,143.7180,0.003515,0.000220,0.000110,0.000392,NaN,32.6677,40.8673,4.7508
1,55,23.0,10.000000,5000.0,129.2322,0.003304,0.000259,0.000294,0.000432,0.004307,32.9194,42.3454,4.8434
2,56,30.0,10.000000,200.0,69.9612,0.001101,0.000336,0.000294,0.000461,0.002926,44.6475,75.3548,4.0430
3,57,19.0,20.000000,400.0,107.6016,0.001034,0.000213,0.000053,0.000543,0.003783,29.2203,53.7352,4.9155
4,58,32.0,10.000000,500.0,122.8908,0.001136,0.000327,NaN,0.001329,0.002368,22.6885,62.0813,9.3740
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3390,10089,NaN,11.382596,NaN,259.6296,0.002167,0.000743,0.000621,0.000146,0.004555,18.6059,42.8342,6.2754
3391,10090,NaN,11.382596,NaN,314.6700,0.002167,0.001157,0.000246,0.001083,0.004259,14.3023,36.1156,7.1965
3392,10092,NaN,11.382596,NaN,299.4282,0.002167,0.000860,0.000338,0.000169,0.004439,12.4028,39.5156,6.3979
3393,10094,NaN,11.382596,NaN,375.8664,0.002167,0.000594,0.000204,0.000780,0.004346,11.6910,34.8547,7.9615
3394,10095,NaN,11.382596,NaN,348.3576,0.002167,0.000811,0.000224,0.001315,NaN,20.0537,33.5142,6.3719

In [14]:
kamyr.isnull().sum()

ID            0
Attrib02     55
Attrib03      0
Attrib04     57
Attrib05      0
Attrib06      0
Attrib07      0
Attrib09    365
Attrib10      0
Attrib11    349
Attrib12      0
Attrib13    174
Attrib14      0
dtype: int64

In [15]:
#remove unwanted rows which is less than 15% (509)
kamyr1 = kamyr.dropna(axis = 0 , subset = ['Attrib02','Attrib04','Attrib09','Attrib11','Attrib13'])

kamyr1

,ID,Attrib02,Attrib03,Attrib04,Attrib05,Attrib06,Attrib07,Attrib09,Attrib10,Attrib11,Attrib12,Attrib13,Attrib14
1,55,23.0,10.000000,5000.0,129.2322,0.003304,0.000259,0.000294,0.000432,0.004307,32.9194,42.3454,4.8434
2,56,30.0,10.000000,200.0,69.9612,0.001101,0.000336,0.000294,0.000461,0.002926,44.6475,75.3548,4.0430
3,57,19.0,20.000000,400.0,107.6016,0.001034,0.000213,0.000053,0.000543,0.003783,29.2203,53.7352,4.9155
9,81,18.0,24.000000,800.0,155.9856,0.005054,0.000524,0.000025,0.000399,0.003569,24.4632,52.1538,6.5664
10,83,16.0,16.000000,6000.0,153.8010,0.001677,0.000319,0.000000,0.000822,0.003772,23.4107,48.0711,7.0044
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3332,9255,24.0,14.000000,2000.0,278.2188,0.002167,0.000455,0.000091,0.000328,0.004244,30.4828,47.4678,6.0901
3333,9256,21.0,6.000000,560.0,88.4742,0.002332,0.000522,0.000065,0.000228,0.003433,34.0286,63.7720,4.3420
3335,9261,20.0,8.000000,400.0,158.1390,0.002167,0.000504,0.000217,0.000313,0.003583,36.3990,66.2718,4.5097
3337,9265,21.0,8.000000,100.0,121.6992,0.002956,0.000241,0.000055,0.000208,0.003690,35.5833,57.9585,5.4154
3338,9270,20.0,11.382596,400.0,134.2848,0.005424,0.000182,0.000000,0.000480,0.003205,18.2927,62.4615,6.0202

In [16]:
kamyr1.isnull().sum() ## note m final data set is use as kamyr1 with no missing values

ID          0
Attrib02    0
Attrib03    0
Attrib04    0
Attrib05    0
Attrib06    0
Attrib07    0
Attrib09    0
Attrib10    0
Attrib11    0
Attrib12    0
Attrib13    0
Attrib14    0
dtype: int64

In [17]:
kamyr1.describe(include = 'all')

,ID,Attrib02,Attrib03,Attrib04,Attrib05,Attrib06,Attrib07,Attrib09,Attrib10,Attrib11,Attrib12,Attrib13,Attrib14
count,2549.000000,2549.000000,2549.000000,2549.000000,2549.000000,2549.000000,2549.000000,2549.000000,2549.000000,2549.000000,2549.000000,2549.000000,2549.000000
mean,4747.089447,21.597489,11.424887,672.681444,116.148745,0.002321,0.000375,0.000105,0.000396,0.003373,39.171901,62.607899,5.410726
std,2663.041702,4.021773,5.102452,910.766756,42.169698,0.001208,0.000199,0.000168,0.000362,0.000691,13.674065,13.318044,1.486014
min,55.000000,16.000000,2.000000,7.000000,34.927800,0.000000,0.000000,0.000000,0.000000,0.000679,6.666700,30.759300,2.301600
25%,2397.000000,19.000000,8.000000,300.000000,86.523000,0.001584,0.000230,0.000013,0.000153,0.002872,29.653800,52.715400,4.424400
50%,4874.000000,21.000000,11.382596,500.000000,109.624200,0.002167,0.000365,0.000049,0.000296,0.003397,36.637700,60.846700,5.229800
75%,7033.000000,24.000000,14.000000,800.000000,137.012400,0.002900,0.000495,0.000130,0.000527,0.003885,46.689100,71.142900,6.143800
max,9270.000000,44.000000,24.000000,25000.000000,372.642600,0.005667,0.001648,0.003019,0.003688,0.004729,112.939300,97.391300,18.558100